* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #ffffff;
  color: #111111;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  min-height: 100vh;
  padding: 30px 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.logo {
  width: 650px;
  max-width: 90%;
  height: auto;
  margin-bottom: 20px;
}

.coming-soon {
  margin: 0 0 12px;
  color: #c8a04d;
  font-weight: 800;
  letter-spacing: 4px;
}

.description {
  max-width: 650px;
  margin: 0 0 10px;

  font-size: 1.2rem;
  line-height: 1.5;

  color: #333333;
}

.subtext {
  max-width: 500px;

  margin: 0 0 30px;

  color: #777777;

  font-size: 0.95rem;
}

.email-form {
  width: 450px;
  max-width: 92%;

  display: flex;
  flex-direction: column;

  gap: 12px;
}

.email-form input {
  width: 100%;

  padding: 14px;

  border: 1px solid #dddddd;
  border-radius: 8px;

  font-size: 16px;
}

.email-form button {
  width: 100%;

  padding: 14px 20px;

  background: #c8a04d;
  color: white;

  border: none;
  border-radius: 8px;

  font-weight: 700;
  font-size: 16px;

  cursor: pointer;

  transition: 0.2s ease;
}

.email-form button:hover {
  background: #b08d42;
}